In [2]:
first_list = [2, 4, 5]
print(first_list*2)

[2, 4, 5, 2, 4, 5]

In [3]:
first_list = [2, 4, 5]

In [4]:
print(map(lambda x: x**2, first_list))

<map object at 0x000001D90D3D2E20>

In [5]:
first_list = [2,4,5]
print(list(map(lambda x: x**2, first_list)))

[4, 16, 25]

In [7]:
print([num**2 for num in first_list])

[4, 16, 25]

In [3]:
def squareit(n):
    return n**2

print(map(squareit, first_list))

<map object at 0x00000248FE8EB8B0>

In [8]:
def squareit(n):
    return n**2

print(list(map(squareit, first_list)))

[4, 16, 25]

In [11]:
sums_list = [3,5,9,7]
sums_list2 = (4,5,6,7)
print(list(map(lambda x,y : x+y, sums_list,sums_list2)))

[7, 10, 15, 14]

In [12]:
print([x+y for x,y in zip(sums_list, sums_list2)])

[7, 10, 15, 14]

In [14]:
list_of_names = ['nikola', 'james', 'albert']
list_of_names2 = ['tesla','watt','einstein']
proper = lambda x, y: x[0].upper()+x[1:] +' '+ y[0].upper()+y[1:]
print(list(map(proper, list_of_names,list_of_names2)))

['Nikola Tesla', 'James Watt', 'Albert Einstein']

In [15]:
print([x[0].upper()+ x[1:] +' '+ y[0].upper()+ y[1:]  for x,y in zip(list_of_names, list_of_names2)])

['Nikola Tesla', 'James Watt', 'Albert Einstein']

In [19]:
#Filter
divby3 = lambda x:  x % 3 == 0
my_list = [3,4,5,6,7,8,9]
div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

In [20]:
print([num for num in my_list if num%3==0])

[3, 6, 9]

In [23]:
#Reduce
from functools import reduce
q  = reduce(lambda x, y: x+y, range(1,7))
print(q)

21

In [24]:
list_of_nums = [22,45,32,20,87,94,30]
print(reduce(lambda x,y: x if x>y else y,list_of_nums))

94

In [1]:
print(list(map(lambda num: num**3, [5,6,7,8,9])))

[125, 216, 343, 512, 729]

In [2]:
#input_list = int(input("Enter values:"))

lambda_fun = lambda num : num**3
print(list(map(lambda_fun, [5,6,7,8,9])))

[125, 216, 343, 512, 729]

In [4]:
print([num**3 for num in [5,6,7,8,9]])

[125, 216, 343, 512, 729]

Using the function Map, count the number of words that start with ‘S’ in input_list.

In [9]:
reuslt = sum(map(lambda word: word.lower().startswith('s'), ['shravan', 'govind', 'shreyansh', 'dfdas']) )
print(reuslt)

2

Create a list ‘name’ consisting of the combination of the first name and the second name from list 1 and 2 respectivel
[ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]

In [14]:
list_of_fname = ['Ankur', 'Avik', 'Kiran', 'Nitin']
list_of_lname = ['Narang', 'Sarkar', 'R', 'Sareen']

In [17]:
print([fname+ ' '+ lname for fname, lname in zip(list_of_fname, list_of_lname)])

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [12]:
def get_name(fname, lname):
    return fname + ' '+ lname
map_output = map(get_name, ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen'])
print(list(map_output))

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

Description
Extract a list of numbers that are multiples of 5 from a list of integers named input_list.

Note: Use the filter() function.

In [18]:
input_list= [3, 6, 10, 23, 45, 65, 70, 73, 80, 94]

In [23]:
def get_multiple_of_5(num):
    if num %5 == 0:
        return True
    else:
        return False

filter_op = filter(get_multiple_of_5, input_list)
print(list(filter_op))

[10, 45, 65, 70, 80]

In [24]:
print([num for num in input_list if num%5==0])

[10, 45, 65, 70, 80]

In [25]:
print(list(filter(lambda x: x%5==0 , input_list)))

[10, 45, 65, 70, 80]

You are given a list of strings such as input_list =  ['hdjk', 'salsap', 'sherpa'].

Extract a list of names that start with an ‘s’ and end with a ‘p’ (both 's' and 'p' are lowercase) in input_list.

Note: Use the filter() function.

In [26]:
input_list = ['hdjk', 'salsap', 'sherpa']

In [28]:
filter_fun_obj = filter(lambda word: word.lower().startswith('s') and word.lower().endswith('p') , input_list)
print(list(filter_fun_obj))

['salsap']

In [29]:
print([word for word in input_list if word.lower().startswith('s') and word.lower().endswith('p') ])

['salsap']

Using the Reduce function, concatenate a list of words in input_list, and print the output as a string.
If input_list = ['I','Love','Python'], the output should be the string 'I Love Python'.

In [30]:
input_list = ['I','Love','Python']

In [38]:
from functools import reduce
reduce_flt_op = reduce(lambda a, b : a + " " + b , input_list)
print(reduce_flt_op)

I Love Python

Reduce Function
Description
You are given a list of numbers such as input_list = [31, 63, 76, 89]. Find and print the largest number in input_list using the reduce() function.

In [39]:
input_list = [31, 63, 76, 89]

In [40]:
print(reduce(lambda x, y: x if x>y else y, input_list))

89

In [43]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
temperatures = (36.5, 37, 37.5, 38, 39)

F = map(fahrenheit, temperatures)
C = map(celsius, F)

print(F)
print(C)

temperatures_in_Fahrenheit = list(map(fahrenheit, temperatures))

temperatures_in_Celsius = list(map(celsius, temperatures_in_Fahrenheit))

print(temperatures_in_Fahrenheit)
print(temperatures_in_Celsius)

<map object at 0x0000020EFEA5EA90>
<map object at 0x0000020EFEA5E3D0>
[97.7, 98.60000000000001, 99.5, 100.4, 102.2]
[36.5, 37.00000000000001, 37.5, 38.00000000000001, 39.0]

In [49]:
from functools import reduce
print(reduce(lambda a,b : a+b, range(1,101)))

5050

(#1) Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

Order Number    Book Title and Author              Quantity     Price per Item
34587           Learning Python, Mark Lutz             4          40.95
98762           Programming Python, Mark Lutz          5          56.80
77226           Head First Python, Paul Barry          3          32.95
88112           Einführung in Python3, Bernd Klein     3          24.99
Write a Python program, which returns a list with 2-tuples. Each tuple consists of a the order number and the product of the price per items and the quantity. The product should be increased by 10,- € if the value of the order is smaller than 100,00 €.
Write a Python program using lambda and map.

In [58]:
map_fun_op= map(lambda ordn, qty, ppi: (ordn, qty*ppi), [34587, 98762, 77226, 88112], [4, 5, 3, 3], [40.95, 56.80, 32.95, 24.99])
print(list(map_fun_op))

[(34587, 163.8), (98762, 284.0), (77226, 98.85000000000001), (88112, 74.97)]

In [59]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 	3, 24.99]]
min_order = 100
invoice_totals = list(map(lambda x: x if x[1] >= min_order else (x[0], x[1] + 10), 
                  map(lambda x: (x[0],x[2] * x[3]), orders)))
print(invoice_totals)

[('34587', 163.8), ('98762', 284.0), ('77226', 108.85000000000001), ('88112', 84.97)]